<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel</title>
    <link href="/assets/aos/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/js/bootstrap.min.js">
    <link href="/assets/fontawesome/css/all.css" rel="stylesheet">  
    <link href="/assets/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/swiper/swiper-bundle.min.css" rel="stylesheet">  
    <script src="assets/aos/aos.js"></script>
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/boxicons/dist/boxicons.js"></script>
    <script src="/assets/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/scripts.js"></script>
    <link rel="stylesheet" href="/assets/boxicons/css/boxicons.min.css">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">
                <img src="/assets/imgs/Logo.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#cutomer">About US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Destinations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#category">Tours</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="nav pull-right">
                <button type="button" class="navbar-btn d-flex">
                    <h3 class="button_label m-0 p-0">Book Now</h3> &nbsp;
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
            </div>
        </nav>
    </div>
        <main>
            <section class="text-center py-md-6">
                <div class="container">
                    <div class="row">
                        <div class="col-sm py-5">
                            <h1 class="home_header">Discover the <br> Best Lovely <br> Places</h1>
                            <br>
                            <p class="lead">Plan and book your perfect trip with expert advice, travel <br>tips, destination information and inspiration from us.</p>        
                            <div class="col-sm-12 d-flex search-container p-3">
                              <div class="col-sm-5 search1">
                                  <h4 class="search-div">Where</h4>
                                  <input placeholder="Center Point,Lo...">
                                  <i class="bx bx-map"></i>
                              </div>
                              <div class="col-sm-5 search1" style="border-left:1px solid lightgray">
                                <h4 class="search-div">Date</h4>
                                <input placeholder="09th March,2021">
                                <i class="bx bx-calendar"></i>
                              </div>
                              <div class="col-sm-2 pr-0"><button class="button-search"><i class="bx bx-search"></i></button></div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <img src="/assets/imgs/package.png" width="480">
                        </div>
                        </div>
                </div>
            </section>
            <section id="category">

              <div class="container aos-init aos-animate" data-aos="fade-up">
                <div class="section-header">
                  <h1>Categories
                    
                    <div class="swiper-pagination"></div>
                    <a id="js-prev2"><i class="bx bx-caret-right-circle icon-paginator"></i></a>
                    <a id="js-next2"><i class="bx bx-caret-left-circle icon-paginator"></i></a>                      
                  </h1> 

                  <span>Here are lots of interesting destinations to visit,<br>
                  but don't be confused-they're already grouped <br> by category </span>
                </div>
              </div>
        
              <div id="swiper2" class="gallery-slider swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-container swiper-container-1">
                <div class="swiper-wrapper align-items-center" id="swiper-wrapper-a2869c" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-200px, 0px, 0px);"><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" role="group" aria-label="4 / 8" style="margin-right: 2rem;"><a href="assets/imgs/Beach.png" class="gallery-lightbox"><img src="assets/imgs/beach.png" class="img-fluid" alt=""></a></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4" role="group" aria-label="5 / 8" style="margin-right: 2rem;"><a href="assets/imgs/Desert.png" class="gallery-lightbox"><img src="assets/imgs/Desert.png" class="img-fluid" alt=""></a></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="5" role="group" aria-label="6 / 8" style="margin-right: 2rem;"><a href="assets/imgs/Mountain.png" class="gallery-lightbox"><img src="assets/imgs/Mountain.png" class="img-fluid" alt=""></a></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="6" role="group" aria-label="7 / 8" style="margin-right: 2rem;"><a href="assets/imgs/beach.png" class="gallery-lightbox"><img src="assets/imgs/beach.png" class="img-fluid" alt=""></a></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="7" role="group" aria-label="8 / 8" style="margin-right: 2rem;"><a href="assets/imgs/Desert.png" class="gallery-lightbox"><img src="assets/imgs/Desert.png" class="img-fluid" alt=""></a></div>
                  <div class="swiper-slide swiper-slide-category swiper-slide-duplicate" data-swiper-slide-index="0" role="group" aria-label="1 / 8"><a href="assets/imgs/Temple.png" class="gallery-lightbox"><img src="assets/imgs/Temple.png" class="img-fluid" alt=""></a>
                  </div>
                  <div class="swiper-slide swiper-slide-category swiper-slide-duplicate-next" data-swiper-slide-index="1" role="group" aria-label="2 / 8"><a href="assets/imgs/Pyramid.png" class="gallery-lightbox"><img src="assets/imgs/Pyramid.png" class="img-fluid" alt=""></a>
                    
                  </div>
                  <div class="swiper-slide swiper-slide-category" data-swiper-slide-index="2" role="group" aria-label="3 / 8" ><a href="assets/imgs/Mountain.png" class="gallery-lightbox"><img src="assets/imgs/Mountain.png" class="img-fluid" alt=""></a>
              
                  </div>
                  <div class="swiper-slide swiper-slide-category" data-swiper-slide-index="3" role="group" aria-label="4 / 8" ><a href="assets/imgs/Temple.png" class="gallery-lightbox"><img src="assets/imgs/Temple.png" class="img-fluid" alt=""></a>
                    
                  </div>
                  <div class="swiper-slide swiper-slide-category" data-swiper-slide-index="4" role="group" aria-label="5 / 8" ><a href="assets/imgs/Pyramid.png" class="gallery-lightbox"><img src="assets/imgs/Pyramid.png" class="img-fluid" alt=""></a>
                   
                  </div>
                  <div class="swiper-slide swiper-slide-category" data-swiper-slide-index="5" role="group" aria-label="6 / 8"><a href="assets/imgs/Mountain.png" class="gallery-lightbox"><img src="assets/imgs/Mountain.png" class="img-fluid" alt=""></a>
                    
                  </div>
                  <div class="swiper-slide swiper-slide-category" data-swiper-slide-index="6" role="group" aria-label="7 / 8" ><a href="assets/imgs/Temple.png" class="gallery-lightbox"><img src="assets/imgs/beach.png" class="img-fluid" alt=""></a>
                    
                  </div>
                  <div class="swiper-slide swiper-slide-category swiper-slide-prev" data-swiper-slide-index="7" role="group" aria-label="8 / 8"><a href="assets/imgs/Pyramid.png" class="gallery-lightbox"><img src="assets/imgs/Desert.png" class="img-fluid" alt=""></a>
                  
                  </div>
                  <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        
            </section>
            <section id="skills" class="skills">
                <div class="container aos-init aos-animate" data-aos="fade-up">
          
                  <div class="row">
                    <div class="col-lg-5 d-flex align-items-center aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                      <img src="/assets/imgs/Images.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 experience content aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                        <h5>Our Experience</h5>
                        <h3>Our Stories Have Adventures</h3>
                      <p class="fst-italic">
                        We are experienced in bringing adventures to stay their <br>
                        journey, with all outdoor destinations in the world as our <br>
                        specialities. Start your adventure now! Nature has already<br> called you!
                      </p>
          
                      <div class="skills-content">
          
                        <div class="row text-center">
                            <div class="col">
                            <div class="counter">
                   
                      <h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>
                       <p class="count-text ">Sucess Journey</p>
                    </div>
                            </div>
                              <div class="col">
                               <div class="counter">
                    
                      <h2 class="timer count-title count-number" data-to="1700" data-speed="1500"></h2>
                      <p class="count-text ">Awards Winning</p>
                    </div>
                              </div>
                 
                              <div class="col">
                              <div class="counter">
                     
                      <h2 class="timer count-title count-number" data-to="157" data-speed="1500"></h2>
                      <p class="count-text ">Years Experience</p>
                    </div>
                              </div>
          
                      </div>
          
                    </div>
                  </div>
          
                </div>
              </section>
              <section id="gallery">

                <div class="container aos-init aos-animate" data-aos="fade-up">
                  <div class="section-header">
                    <h1>Find Popular<br>Destination 
                      
                      <div class="swiper-pagination"></div>
                      <a id="js-prev1"><i class="bx bx-caret-right-circle icon-paginator"></i></a>
                      <a id="js-next1"><i class="bx bx-caret-left-circle icon-paginator"></i></a>                      
                    </h1> 
                  </div>
                </div>
          
                <div id="swiper1" class="gallery-slider swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-container swiper-container-2">
                  <div class="swiper-wrapper align-items-center" id="swiper-wrapper-a28697de1d6e574c" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-2747.8px, 0px, 0px);"><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" role="group" aria-label="4 / 8" style="margin-right: 2rem;"><a href="assets/imgs/1.png" class="gallery-lightbox"><img src="assets/imgs/1.png" class="img-fluid" alt=""></a></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4" role="group" aria-label="5 / 8" style="margin-right: 2rem;"><a href="assets/imgs/2.png" class="gallery-lightbox"><img src="assets/imgs/2.png" class="img-fluid" alt=""></a></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="5" role="group" aria-label="6 / 8" style="margin-right: 2rem;"><a href="assets/imgs/3.png" class="gallery-lightbox"><img src="assets/imgs/3.png" class="img-fluid" alt=""></a></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="6" role="group" aria-label="7 / 8" style="margin-right: 2rem;"><a href="assets/imgs/1.png" class="gallery-lightbox"><img src="assets/imgs/1.png" class="img-fluid" alt=""></a></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="7" role="group" aria-label="8 / 8" style="margin-right: 2rem;"><a href="assets/imgs/2.png" class="gallery-lightbox"><img src="assets/imgs/2.png" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide swiper-slide-gallery swiper-slide-duplicate" data-swiper-slide-index="0" role="group" aria-label="1 / 8" style="margin-right: 2rem;"><div class="container gallery-container"><a href="assets/imgs/1.png" class="gallery-lightbox"><img src="assets/imgs/1.png" class="img-fluid" alt=""></a>
                      <h6 class="px-2 pt-4">Mountain Hiking Tour</h6>
                      <span class="px-2 pt-4" style="font-size: 0.8rem;">Mountain Hiking Tour</span>
                      <div class="px-2">
                        <span class="span1">$99</span> <span class="span2">/Person</span>
                      <button type="button" class="booknow-btn">
                         <span class="span3">Book Now</span>
                      </button></div>
                    </div></div>
                    <div class="swiper-slide swiper-slide-gallery swiper-slide-duplicate-next" data-swiper-slide-index="1" role="group" aria-label="2 / 8" style="margin-right: 2rem;"><div class="container gallery-container"><a href="assets/imgs/2.png" class="gallery-lightbox"><img src="assets/imgs/2.png" class="img-fluid" alt=""></a>
                      <h6 class="px-2 pt-4">Mountain Hiking Tour</h6>
                      <span class="px-2 pt-4" style="font-size: 0.8rem;">Mountain Hiking Tour</span>
                      <div class="px-2">
                        <span class="span1">$99</span> <span class="span2">/Person</span>
                      <button type="button" class="booknow-btn">
                         <span class="span3">Book Now</span>
                      </button></div>
                    </div></div>
                    <div class="swiper-slide swiper-slide-gallery" data-swiper-slide-index="2" role="group" aria-label="3 / 8" style="margin-right: 2rem;"><div class="container gallery-container"><a href="assets/imgs/3.png" class="gallery-lightbox"><img src="assets/imgs/3.png" class="img-fluid" alt=""></a>
                      <h6 class="px-2 pt-4">Mountain Hiking Tour</h6>
                      <span class="px-2 pt-4" style="font-size: 0.8rem;">Mountain Hiking Tour</span>
                      <div class="px-2">
                        <span class="span1">$99</span> <span class="span2">/Person</span>
                      <button type="button" class="booknow-btn">
                         <span class="span3">Book Now</span>
                      </button></div>
                    </div></div>
                    <div class="swiper-slide swiper-slide-gallery" data-swiper-slide-index="3" role="group" aria-label="4 / 8" style="margin-right: 2rem;"><div class="container gallery-container"><a href="assets/imgs/1.png" class="gallery-lightbox"><img src="assets/imgs/1.png" class="img-fluid" alt=""></a>
                      <h6 class="px-2 pt-4">Mountain Hiking Tour</h6>
                      <span class="px-2 pt-4" style="font-size: 0.8rem;">Mountain Hiking Tour</span>
                      <div class="px-2">
                        <span class="span1">$99</span> <span class="span2">/Person</span>
                      <button type="button" class="booknow-btn">
                         <span class="span3">Book Now</span>
                      </button></div>
                    </div></div>
                    <div class="swiper-slide swiper-slide-gallery" data-swiper-slide-index="4" role="group" aria-label="5 / 8" style="margin-right: 2rem;"><div class="container gallery-container"><a href="assets/imgs/2.png" class="gallery-lightbox"><img src="assets/imgs/2.png" class="img-fluid" alt=""></a>
                      <h6 class="px-2 pt-4">Mountain Hiking Tour</h6>
                      <span class="px-2 pt-4" style="font-size: 0.8rem;">Mountain Hiking Tour</span>
                      <div class="px-2">
                        <span class="span1">$99</span> <span class="span2">/Person</span>
                      <button type="button" class="booknow-btn">
                         <span class="span3">Book Now</span>
                      </button></div>
                    </div></div>
                    <div class="swiper-slide swiper-slide-gallery" data-swiper-slide-index="5" role="group" aria-label="6 / 8" style="margin-right: 2rem;"><div class="container gallery-container"><a href="assets/imgs/3.png" class="gallery-lightbox"><img src="assets/imgs/3.png" class="img-fluid" alt=""></a>
                      <h6 class="px-2 pt-4">Mountain Hiking Tour</h6>
                      <span class="px-2 pt-4" style="font-size: 0.8rem;">Mountain Hiking Tour</span>
                      <div class="px-2">
                        <span class="span1">$99</span> <span class="span2">/Person</span>
                      <button type="button" class="booknow-btn">
                         <span class="span3">Book Now</span>
                      </button></div>
                    </div></div>
                    <div class="swiper-slide swiper-slide-gallery" data-swiper-slide-index="6" role="group" aria-label="7 / 8" style="margin-right: 2rem;"><div class="container gallery-container"><a href="assets/imgs/1.png" class="gallery-lightbox"><img src="assets/imgs/1.png" class="img-fluid" alt=""></a>
                      <h6 class="px-2 pt-4">Mountain Hiking Tour</h6>
                      <span class="px-2 pt-4" style="font-size: 0.8rem;">Mountain Hiking Tour</span>
                      <div class="px-2">
                        <span class="span1">$99</span> <span class="span2">/Person</span>
                      <button type="button" class="booknow-btn">
                         <span class="span3">Book Now</span>
                      </button></div>
                    </div></div>
                    <div class="swiper-slide swiper-slide-gallery swiper-slide-prev" data-swiper-slide-index="7" role="group" aria-label="8 / 8" style="margin-right: 2rem;"><div class="container gallery-container"><a href="assets/imgs/2.png" class="gallery-lightbox"><img src="assets/imgs/2.png" class="img-fluid" alt=""></a>
                      <h6 class="px-2 pt-4">Mountain Hiking Tour</h6>
                      <span class="px-2 pt-4" style="font-size: 0.8rem;">Mountain Hiking Tour</span>
                      <div class="px-2">
                        <span class="span1">$99</span> <span class="span2">/Person</span>
                      <button type="button" class="booknow-btn">
                         <span class="span3">Book Now</span>
                      </button></div>
                    </div> 
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
          
              </section>
            <section id="portfolio" class="portfolio">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <h2>Top Destination</h2>
          <p>Sost Brilliant reasons Entrada should be your one-stop-shop!</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">London</li>
          <li data-filter=".filter-app">Bangkok</li>
          <li data-filter=".filter-card">England</li>
          <li data-filter=".filter-web">Singapore</li>
          <li data-filter=".filter-web">Italy</li>
        </ul>

        <div class="row portfolio-container aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" style="position: relative; height: 70%;">

            <div class="col-lg-3 col-md-5 portfolio-item filter-app" style="position: absolute; left: 37px; top: 0px;">
              <div class="portfolio-img"><img src="assets/imgs/Rectangle 4389.png" class="img-fluid" alt=""></div>
              <div class="portfolio-info">
                <h4>Vientam</h4>
                <p>Worefall</p>
                <a href="assets/imgs/Rectangle 4389.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web" style="position: absolute; left: 317px; top: 0px;">
              <div class="portfolio-img"><img src="assets/imgs/Rectangle 4391.png" class="img-fluid" alt=""></div>
              <div class="portfolio-info">
                <h4>Vientam</h4>
                <p>Worefall</p>
                <a href="assets/imgs/Rectangle 4391.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-5 portfolio-item filter-app" style="position: absolute; left: 879px; top: 252px;">
              <div class="portfolio-img"><img src="assets/imgs/Rectangle 4395.png" class="img-fluid" alt=""></div>
              <div class="portfolio-info">
                <h4>Vientam</h4>
                <p>Worefall</p>
                <a href="assets/imgs/Rectangle 4395.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-5 col-md-7 portfolio-item filter-card" style="position: absolute; left: 690px; top: 0px;">
              <div class="portfolio-img"><img src="assets/imgs/Rectangle 4392.png" class="img-fluid" alt=""></div>
              <div class="portfolio-info">
                <h4>Vientam</h4>
                <p>Worefall</p>
                <a href="assets/imgs/Rectangle 4392.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-2 col-md-4 portfolio-item filter-web" style="position: absolute; left: 692px; top: 251.688px;">
              <div class="portfolio-img"><img src="assets/imgs/Rectangle 4394.png" class="img-fluid" alt=""></div>
              <div class="portfolio-info">
                <h4>Vientam</h4>
                <p>Worefall</p>
                <a href="assets/imgs/Rectangle 4394.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-5 portfolio-item filter-app" style="position: absolute; left: 37px; top: 260.891px;">
              <div class="portfolio-img"><img src="assets/imgs/Group.png" class="img-fluid" alt=""></div>
              <div class="portfolio-info">
                <h4>Vientam</h4>
                <p>Worefall</p>
                <a href="assets/imgs/Group.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
      </div>
    </section>
    <section id="cutomer" class="customer">
        <div class="container aos-init aos-animate" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-4 d-flex align-items-center aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
              <img src="/assets/imgs/camera.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-6 experience content aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                <hr class="line"/>
                <h1 class="customer_opinion">A Customer Said <br> About Us:</h1>
              
                <section id="testimonials" class="padd-section">
                    <div class="container aos-init aos-animate" data-aos="fade-up">
                      <div class="row justify-content-center">
              
                        <div class="col-md-12">
              
                          <div class="testimonials-content">
                            <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">
              
                              <div class="carousel-inner" role="listbox">
              
                                <div class="carousel-item active">
                                  <div class="top-top">
              
                                    <p>Salty helped me a lot in finding the best place for our <br>
                                    first outdoor adventure trip. They responded very<br>
                                    quickly and gave me a detailed account of the place-<br>
                                    its history, as well as its best features
                                    </p>
                                    
                                    <div class="mt-1 d-flex justify-content-between align-items-center">
                                        <div class="small-ratings">
                                            <i class="fa fa-star rating-color"></i>
                                            <i class="fa fa-star rating-color"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <p class="customer-name">Andrew Sarma <br><span class="ml-0">Enterpreneur</span>
                                      <a class="item1"><i class="bx bx-caret-right-circle icon-paginator"></i></a>
                                      <a class="item2"><i class="bx bx-caret-left-circle icon-paginator"></i></a>
                                    </p> 
                                 
                                  </div>
                                </div>
                                <div class="carousel-item">
                                  <div class="top-top">
              
                                    <p>Salty helped me a lot in finding the best place for our <br>
                                    first outdoor adventure trip. They responded very<br>
                                    quickly and gave me a detailed account of the place-<br>
                                    its history, as well as its best features
                                    </p>
                                    
                                    <div class="mt-1 d-flex justify-content-between align-items-center">
                                        <div class="small-ratings">
                                            <i class="fa fa-star rating-color"></i>
                                            <i class="fa fa-star rating-color"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <p class="customer-name">Andrew Sarma <br><span class="ml-0">Enterpreneur</span>
                                      <a class="item1"><i class="bx bx-caret-right-circle icon-paginator"></i></a>
                                      <a class="item2"><i class="bx bx-caret-left-circle icon-paginator"></i></a>
                                    </p> 
                                 
                                  </div>
                                </div>
                              </div>
              
                            </div>
                          </div>
                        </div>
              
                      </div>
                    </div>
                  </section>
            </div>
        </div>
      </section>
    <footer id="footer">

        <div class="footer-newsletter">
          <div class="container send-newletter">
            <div class="row justify-content-center">
              <div class="col-lg-6" style="top:100px">
                <h4>Sign up to our newsletter</h4>
                <p>Receive Latest news, update, and many other things <br> every week.</p>
                <form action="" method="post">
                  <input type="email" name="email" placeholder="Enter your email address">
                  <button class="btn send-mail" type="button">
                    <i class="fa fa-paper-plane send-icon"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
    
        <div class="footer-top">
          <div class="container">
            <div class="row">
    
              <div class="col-lg-4 col-md-8 footer-contact">
                <img src="/assets/imgs/Logo.png">
                <p>
                  Enjoy the touring<br>
                  with Salty<br>
                </p>
                <div class="social-links mt-3">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                </div>
              </div>
    
              <div class="col-lg-2 col-md-4 footer-links">
                <h4>Resources</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Download</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Help Center</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Guide Book</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">App Directory</a></li>
                </ul>
              </div>
    
              <div class="col-lg-2 col-md-4 footer-links">
                <h4>Travellers</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Why Travellers</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Enterprise</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Customer Stories</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Instgram Post</a></li>
                </ul>
              </div>
              <div class="col-lg-2 col-md-4 footer-links">
                <h4>Company</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Travelling</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">About Location</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Success</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Information</a></li>
                </ul>
              </div>
              <div class="col-lg-2 col-md-4 footer-links">
                <h4>Get App</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">App Store</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Google Play Store</a></li>
                </ul>
              </div>
    
            </div>
          </div>
        </div>
      </footer>
        </main>
    </body>
</html>